body {
	background-color: aliceblue;
}

header img {
	width: 400px;
	height: 123px;
}

h1 {
	color: orange;
	margin-left: 20px;
}

h2 {
	color: maroon;
}

/* Selecciona elemento HTML <h3> perteneciente a la clase "markuplang-elems".
	NOTA: no dejar espacio entre elemento HTML y clase.; */
h3.markuplang-elems {
	background-color: red;
}

/* Selecciona elemento HTML <h4> que tenga el ID "markup-subtitle-h4" */
h4#markuplang-subtitle-h4 {
	background-color: green;
}

footer {
	color: black;
	font-size: 10px;
	margin-top: 50px;
	margin-left: 50%;
}

ul {
	list-style-type: circle;
}

ol {
	background-color: yellow;
}

#main2 {
	color: red;
}

table, th, td {
	border: 1px solid black;
}

mark {
	background-color: red;
}